<% include ../shared/header %>
<script type="text/javascript" src="/extensions/periodicjs.ext.cron_service/js/createcron.min.js"></script>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
  	<% var genericdoc = false %>
  	<% var genericdoctype = "Cron" %>
  	<% var genericdoctypename = "cron" %>
  	<% var genericdoctypelink = "crons" %>
		<% var genericdoctypeplurallink = "crons" %>
    <% include ../shared/genericdoc_compose_title %>

	  <form id="cron_create" 
      name="cron_create" 
      class="ts-form async-admin-ajax-forms" 
      method="post" 
      action="/p-admin/content/crons"
      data-successredirect-href="/p-admin/content/crons" 
      enctype="multipart/form-data" >


      <div class="ts-row">
				<div class="ts-genericdoc-entry ts-col-nofloat  ts-col-span10 ts-screensm-col-span12 ts-screenxs-col-span12">
					<details open="open" class="ts-text-sm">
					  <summary>
					    <div class="ts-pull-right">
					        <button class="ts-button ts-button-accent-color" type="submit" name="savebutton">save
					        </button>
					    </div>
					   Create a new Cron
					  </summary>
					  <aside>
					  	<div class="ts-row ts-form-row">
								<label class="ts-label">Cron Interval </label>
						    <table class="ts-table ts-width-100" id="cron-table-input">
									<thead>
										<tr>
											<th><label class="ts-label">second</label></th>
											<th><label class="ts-label">minute</label></th>
											<th><label class="ts-label">hour</label></th>
											<th><label class="ts-label">date</label></th>
											<th><label class="ts-label">month</label></th>
											<th><label class="ts-label">year</label></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-second" value="00"/></td>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-minute" value="00"/></td>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-hour" value="*"/></td>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-date" value="*"/></td>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-month" value="*"/></td>
											<td ><input style="width:90%; text-align:center;" type="text" name="interval-year" value="*"/></td>
										</tr>
										<tr>
											<td colspan="6" class="ts-text-center">(<span id="interval-display"></span>
)</td>
										</tr>
									</tbody>
									<!--
									<tfoot>
										<td colspan="2"></td>
										<td colspan="2">
										<div class="ts-text-xs">
										* any value<br>
										, value list separator<br>
										- range of values<br>
										/ step value<br>
										</div>
										</td>
										<td colspan="2"></td>
										</td>
									</tfoot>
									-->
								</table>
					  	</div>
					  	<div class="ts-row ts-form-row">
								<input type="hidden" id="cron-interval" name="interval"/>
					  	</div>
					  	<div class="ts-row ts-form-row">
								<label class="ts-label">Runtime Options (optional)</label>
						    <div id="codejsoneditor" class="ts-row ts-form-row">
									<textarea  id="runtime_options" name="runtime_options"  class=" noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;">{}</textarea>
								</div>
					  	</div>
					  	<div class="ts-row ts-form-row">
								<label class="ts-label">Command Line Arguments (optional)</label>
						    <input type="text" name="command_line_arguments" id="command_line_arguments"  class="ts-col-span12">
					  	</div>
					  	<div class="ts-row ts-form-row">
						    <label class="ts-label">Upload script</label>
					  	</div>
					  	<div class="ts-row ts-form-row">
					        <input type="file" 
					        value="Upload new assets"
					        id="padmin-assets"
					        multiple="multiple" 
					        class="ts-col-span12 ts-medialist-tagged" 
					        placeholder="Upload Assets" 
					        name="mediafiles" 
					        title="upload-assets" 
					        data-ajax-prop="assets" 
					        data-ajax-source="/p-admin/content/crons" 
					        data-ajax-setdata-variable="genericdoc_assets"  
					        data-ajax-setprimaryasset-variable="genericdoc_primaryasset"  
					        data-ajax-formie="cron_create"
					        />
					      </div>
					  </aside>
					</details>
				</div>
			</div>
    </form> 
	</div>
</div>
<script type="template/javascript" id="compose_assets_template">

</script>
<% include ../shared/footer %>