<% var genericdoc = dblogger %>
<% var genericdocid = dblogger._id %>
<% var genericdoctype = 'Database Error Logs' /*"User"*/ %>
<% var genericdoctypename = 'dblogger' /*"user"*/ %>
<% var genericdoctypelink = 'dblogger' /*"user"*/ %>
<% var genericdoctypeplurallink = 'dbloggers' /*/users"*/ %>
<% include ../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
    <% include ../shared/genericdoc_compose_title %>
    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <% if(user.privileges['760'] || user.accounttype==='admin'){%>
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
              <%}%>
            </ul>
          </nav>
          <div class="ts-tabs-content">
            <section class="ts-no-padding">
				 		<form class="ts-form async-admin-ajax-forms" id="edit-dbloggers-form" name="edit-dbloggers-form" method="post" action="/<%- locals.adminPath %>/content/dbloggers/<%- genericdocid %>?_method=PUT"  onsubmit="return false;" >
                <div class="ts-row">
                  <div class="ts-genericdoc-entry ts-col-span12 ts-screensm-col-span12 ts-screenxs-col-span12">
                    <% include _dblogger_file_content %>
                  </div>
                </div>
              </form>
            </section>
            <% if(user.privileges['760'] || user.accounttype==='admin'){%>
            <section class="ts-no-padding">
              <% include ../shared/_genericdoc_show_doc %>
            </section>
            <%}%>
          </div>
        </div>
      </div>
    </div>


	</div>
</div>
<% include ../shared/footer %>